# Postgres
POSTGRES_USER=habit_user
POSTGRES_PASSWORD=changeme
POSTGRES_DB=habit_db
POSTGRES_HOST_PORT=5432

# Backend
# Use cmd to get secret keys : python3 -c "import secrets; print(secrets.token_hex(32))"
# Run it twice — once for SECRET_KEY, once for JWT_SECRET_KEY:

SECRET_KEY=changeme
JWT_SECRET_KEY=changeme
BACKEND_HOST_PORT=5000

# Frontend
FRONTEND_HOST_PORT=8501